@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-primary-content: #8FA748;
  --color-secondary: #03373d;
  --color-secondary-content: #056873;
  --color-accent: #606060;
  --color-accent-content: #dadada;
}

/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/* fonts  */
body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.color {
  color: #03373d;
}
